body {
  font-family: "Poppins";
  background: #1E252B;
  width: 1440px;
}

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.page-header {
  display: flex;
  height: 48px;
  margin-bottom: 58px;
  align-items: center;
}

.main-nav {
  margin: 26px 105px 0 111px;
  width: 1224px;
  height: 38px;
  display: flex;
  align-items: center;
}

.navigation {
  margin: 0;
  padding: 0;
  width: 431px;
  height: 24px;
  display: flex;
  margin-right: 193px;
  justify-content: space-between;
}
.navigation__item {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  align-items: end;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.navigation__item .chevron-down {
  margin-top: 5px;
  margin-bottom: 1px;
  width: 18px;
  height: 18px;
}

.antools_logo {
  display: flex;
  gap: 12px;
  width: 140px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  margin-right: 257px;
}

p {
  color: rgba(255, 255, 255, 0.9);
}

p.logo-text {
  font-size: 22px;
  font-weight: 600;
  height: 33px;
}

.authentication {
  display: flex;
  gap: 41px;
  align-items: center;
}
.authentication__item {
  font-weight: 600;
}
.authentication__item__login {
  color: rgba(255, 255, 255, 0.78);
}
.authentication__item__sign-up {
  background-color: rgb(255, 110, 48);
  border-radius: 8px;
  width: 118px;
  height: 48px;
  text-align: center;
}
.authentication__item__sign-up .sign-up {
  font-weight: 600;
  color: rgb(253, 245, 255);
  padding: 12px 28px;
}

.page-main {
  margin-left: 111px;
}

section.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
section.hero h1.title {
  padding-top: 46px;
  width: 600px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  margin-bottom: 30px;
}
section.hero h1.title .header-span {
  color: rgb(255, 110, 48);
}
section.hero p.description {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 487px;
  margin-bottom: 60px;
}
section.hero div.search {
  display: flex;
  align-items: center;
  margin-bottom: 110px;
  width: 497.66px;
  height: 64px;
  border: 1.5px solid transparent;
  border-radius: 15px;
  background: linear-gradient(rgb(40, 48, 54), rgb(40, 48, 54) 0) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;
}
section.hero div.search__inner {
  padding: 8px 11.4px 8px 18.06px;
  width: 468.56px;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.hero div.search__inner .search-photo {
  width: 24px;
  height: 24px;
  margin-right: 13.04px;
}
section.hero div.search__inner .search-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 0.38);
  position: relative;
  display: inline-block;
  margin-right: 111px;
}
section.hero div.search__inner .search-text::before {
  content: "";
  background: rgb(131, 122, 147);
  border-radius: 1.5px;
  width: 1.5px;
  height: 16px;
  position: absolute;
  left: 0.2px;
  margin-top: 2.5px;
}
section.hero div.search__inner_button {
  background-color: rgb(255, 110, 48);
  border-radius: 8px;
  width: 130.43px;
  height: 48px;
  text-align: center;
}
section.hero div.search__inner_button .search_button {
  font-weight: 600;
  color: rgb(253, 245, 255);
  padding: 12px 28px;
}

div.social {
  display: flex;
  width: 190px;
  height: 58px;
  gap: 8px;
}

section.tools {
  width: 1224px;
  margin-bottom: 200px;
}
section.tools h2.subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  margin-bottom: 25px;
}
section.tools p.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  width: 427px;
  display: flex;
  margin: 0 auto 90px auto;
}

footer.main-footer {
  overflow: hidden;
  position: relative;
  width: 1224px;
  margin: 0 108px 48px 108px;
  height: 253px;
  border: 2px solid transparent;
  border-radius: 25px;
  background: linear-gradient(rgb(40, 48, 54), rgb(40, 48, 54) 0) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;
}
footer.main-footer h3.subsubtitle {
  font-size: 24px;
  display: flex;
  width: 367px;
  margin: 55px auto;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}
footer.main-footer .brands-logo {
  display: flex;
  gap: 107px;
  margin: 0 83px 0 82px;
}
footer.main-footer .circle-glare-red {
  z-index: 2;
  position: absolute;
  background: rgba(255, 72, 66, 0.4);
  top: -80px;
  left: -80px;
  filter: blur(50px);
  border-bottom-right-radius: 100px;
  width: 159px;
  height: 159px;
}

div.catalog-tools {
  width: 1224px;
  display: flex;
  justify-content: space-between;
  row-gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
div.catalog-tools__item {
  width: 392px;
  height: 294px;
  border-radius: 15px;
}

.catalog-tools-wrapper {
  padding: 33px;
  display: flex;
  flex-direction: column;
  width: 326px;
  height: 228px;
}
.catalog-tools-wrapper p.availability {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.catalog-tools-wrapper .tool-head {
  display: flex;
  margin-bottom: 30px;
}
.catalog-tools-wrapper p.description-tool {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.catalog-tools-wrapper .tool-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.catalog-tools-wrapper .tool-logo {
  margin-right: 30px;
}
.catalog-tools-wrapper .interaction {
  display: flex;
  align-items: center;
  gap: 12px;
}
.catalog-tools-wrapper .visit {
  display: flex;
  justify-content: center;
  background-color: rgb(30, 37, 43);
  border-radius: 8px;
  width: 106px;
  height: 42px;
  align-items: center;
}
.catalog-tools-wrapper .visit .visit-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}
.catalog-tools-wrapper .buttons {
  display: flex;
  justify-content: space-between;
}

div.active {
  overflow: hidden;
  position: relative;
  border: 2px solid;
  top: -20px;
  border-image-source: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
  border-image-slice: 1;
  border-image-width: 2px;
  background: linear-gradient(rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6) 0) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;
}
div.active .interaction .interaction-item {
  width: 42px;
  height: 42px;
}
div.active .visit {
  background-color: rgb(255, 110, 48);
  border-radius: 8px;
  width: 118px;
  height: 48px;
  text-align: center;
}
div.active .visit p.visit-text {
  color: rgb(255, 255, 255);
}
div.active .interaction .interaction-item-like {
  border-radius: 8px;
  background-color: rgb(40, 48, 54);
}
div.active p.description-tool {
  color: rgba(255, 255, 255, 0.78);
}
div.active p.availability {
  color: rgb(255, 165, 55);
}

.circle-glare-orange {
  z-index: 1;
  position: absolute;
  background: rgba(255, 110, 48, 0.6);
  box-shadow: 0 0 20px rgba(255, 110, 48, 0.6);
  top: -15px;
  right: 16px;
  filter: blur(40px);
  border-radius: 100px;
  width: 65px;
  height: 65px;
}

.load-more {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.button-load-more {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(255, 110, 48);
}/*# sourceMappingURL=main.css.map */