body {
    font-family: "Poppins";
    background: #1E252B;
    width: 1440px;
  }
  
  p, h1, h2 {
    padding: 0;
    margin: 0;
  }
  
  .page-header {
    display: flex;
    height: 48px;
    margin-bottom: 58px;
    align-items: center;
  }
  
  .main-nav {
    margin: 26px 105px 0 111px;
    width: 1224px;
    height: 38px;
    display: flex;
    align-items: center;
  }
  
  
  .navigation {
    margin: 0;
    padding: 0;
    width: 431px;
    height: 24px;
    display: flex;
    margin-right: 193px;
    justify-content: space-between;

    &__item {
      display: flex;
      justify-content: flex-end;
      gap: 3px;
      align-items: end;
      color: rgba(255, 255, 255, 0.55);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;

      .chevron-down{
        margin-top: 5px;
        margin-bottom: 1px;
        width: 18px;
        height: 18px;
      }
    }
  }

  
.antools_logo {
  display: flex;
  gap: 12px;
  width: 140px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  margin-right: 257px;
}
  
p {
  color: rgba(255, 255, 255, 0.9);
}

p.logo-text {
  font-size: 22px;
  font-weight: 600;
  height: 33px;
}


.authentication{
  display: flex;
  gap: 41px;
  align-items: center;

  &__item{
    font-weight: 600;

    &__login{
      color: rgba(255, 255, 255, 0.78);
      
    }

    &__sign-up{
      background-color:rgba(255, 110, 48, 1);
      border-radius: 8px;
      width: 118px;
      height: 48px;
      text-align: center;
      .sign-up{
        font-weight: 600;
        color: rgba(253, 245, 255, 1);
        padding: 12px 28px;
      }
    }
  }
}

  
.page-main{
  margin-left: 111px;
}

section.hero{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  h1.title{
    padding-top: 46px;
    width: 600px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
  
    .header-span{
      color: rgba(255, 110, 48, 1);
    }
  
    margin-bottom: 30px;
  }
  
  p.description{
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 487px;
    margin-bottom: 60px;
  }
  
  div.search{
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    width: 497.66px;
    height: 64px;
    border: 1.5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(rgba(40, 48, 54, 1), rgba(40, 48, 54, 1) 0) padding-box,
      linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;
    
    &__inner{
      padding: 8px 11.4px 8px 18.06px;
      width: 468.56px;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .search-photo{
        width: 24px;
        height: 24px;
        margin-right: 13.04px;
      }
  
      .search-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: rgba(255, 255, 255, 0.38);    
        position: relative;
        display: inline-block;
        margin-right: 111px;
      }

      .search-text::before{
        content: "";
        background: rgba(131, 122, 147, 1);
        border-radius: 1.5px;
        width: 1.5px;
        height: 16px;
        position: absolute;
        left: 0.2px;
        margin-top: 2.5px;
      }
      
      &_button{
        background-color:rgba(255, 110, 48, 1);
        border-radius: 8px;
        width: 130.43px;
        height: 48px;
        text-align: center;
        .search_button{
          font-weight: 600;
          color: rgba(253, 245, 255, 1);
          padding: 12px 28px;
        }
      }
    }
  }
}

div.social{
  display: flex;
  width: 190px;
  height: 58px;
  gap: 8px;
}

section.tools{
  width: 1224px;
  margin-bottom: 200px;
  h2.subtitle{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    margin-bottom: 25px;
  }

  p.description{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    width: 427px;
    display: flex;
    margin: 0 auto 90px auto;
  }
}

footer.main-footer{
  overflow: hidden;
  position: relative;
  width: 1224px;
  margin: 0 108px 48px 108px;
  height: 253px;
  border: 2px solid transparent;
  border-radius: 25px;
  background: linear-gradient(rgba(40, 48, 54, 1), rgba(40, 48, 54, 1) 0) padding-box,
      linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;

  h3.subsubtitle{
    font-size: 24px;
    display: flex;
    width: 367px;
    margin: 55px auto;
    text-align: center;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
  }

  .brands-logo{
    display: flex;
    gap: 107px;
    margin: 0 83px 0 82px;
  }


  .circle-glare{
    z-index: 1;
    position: absolute;
    background: rgba(255, 72, 66, 0.4);
    top: -80px;
    left: -80px;
    filter: blur(50px);
    
    border-bottom-right-radius: 100px;
    
    width: 159px;
    height: 159px;
  }
}